html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;}body {font-family: 'Poppins', sans-serif !important; line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
.teko{
  font-family: 'Teko', sans-serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.source{
  font-family: 'Source Serif Pro', serif!important;
}
.jost{
  font-family: 'Jost', sans-serif!important;
}
.p-70{
  padding: 70px;
}
h1{
  font-size: 85px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 24px !important;
}
.p_lg{
  font-size: 17px !important;
}
.p_md{
  font-size: 15px !important;
}
.f-13{
  font-size: 13px;
}
.p_sm{
  font-size: 14px !important;
}
.f-16{
  font-size: 16px;
}
.f-36{
  font-size: 36px !important;
}
.f-20{
  font-size: 20px !important;
}
.f-32{
  font-size: 32px !important;
}
.f-19{
  font-size: 19px !important;
}
.f-18{
  font-size: 18px !important;
}
.f-26{
  font-size: 26px !important;
  color: white !important;
}
.f-30{
  font-size: 30px !important;
  color: white !important;
}
.f-50{
  font-size: 50px !important;
  color: white !important;
}
.mt-46{
  margin-top: 46px;
}
.bold{
  font-weight: 700;
}
.medium{
  font-weight: 500;
}
.s-bold{
  font-weight: 600;
}
.d-pur{
  color: #141414 !important;
}
.pur-bck{
  background-color: #050615 !important;
}
.d-blue{
  color: #101f2e !important;
}
.black{
  color: black !important;
}
.l-black{
  color: #141414 !important;
}
.grey{
  color: #666666 !important;
}
.clr-grey{
  color: #666666 !important;
}
.l-grey{
  color: #999999 !important;
}
.clr-orange{
  color: #F5C12A !important;
}
.green{
  color: #03ad1b !important;
}
.white{
  color: white !important;
}
.white:hover{
  color: black !important;
}
.bck-green{
  background-color: #0fa408 !important;
  color: white !important;
  border: 1px solid #0fa408 !important;
}
/* admin login starts here */
.admin-login{
  background-image: url('../images/login-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}
.admin-login-card{
  border-radius: 30px !important;
  background-color: white !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12);
  margin: auto;
  text-align: center;
}
.w-80{
  width: 80% !important;
  margin: auto;
}
.user-subs .admin-login-card{
  width: 50% !important;
}
.admin-profile .modal-content i{
  font-size: 14px !important;
  color: #a1a0a0 !important;
}
.admin-profile .modal-content, .user-subs .modal-content, .user-management .modal-content{
  border-radius: 30px !important;
  box-shadow: none !important;
}
.admin-profile2 i{
  font-size: 100px !important;
  border: 3px solid white;
  border-radius: 100%;
}
.uppercase{
  text-transform: uppercase !important;
}
nav a{
  color: black !important;
  font-weight: bold!important;
}
nav a i{
  color: #333333 !important;
}
a {
  font-size: 16px ;
  color: #1FD8EE ;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.admin-login h1 span{
  color: #ce1126 !important;
}
.admin-profile .modal-content .red{
  color: #F5C12A !important;
}
.lh{
  line-height: 1.5;
}
.ad-log .modal{
  width: 35% !important;
  margin: auto !important;
}
 input,textarea,.surgeon-div {
    background-color: #FBFBFB !important;
    border: 1px solid #EEEEEE !important;
}
textarea{
  resize: none;
}

.admin-login input:focus{
  border: none !important;
  outline: none !important;
  box-shadow: 0 !important;
}
.hide-pass{
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.position-relative .hide-pass{
  bottom: 15px;
}
.custom-check{
  height: 15px !important;
  width: 15px !important;
}
a button{
  font-size: 17px ;
  padding: 15px 45px;
  background: #eeb60d; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeb60d 0%, #f7d576 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eeb60d 0%,#f7d576 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eeb60d 0%,#f7d576 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb60d', endColorstr='#f7d576',GradientType=0 ); /* IE6-9 */
  color: white !important;
  cursor: pointer;
  transition: ease-in-out .2s;
  border: 2px solid #F5C12A !important;
}
a button:hover{
  background: black !important;
  border: 2px solid black !important;
  color: white !important;
}
.admin-login .modal-content{
  border-radius: 30px !important;
  background-color: white !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12);
  width: 100% !important;
  margin: auto;
  text-align: center;
}
.admin-login .modal-content .fa-pencil-alt{
  text-decoration: underline !important;
}
.menu-light a{
  color: white !important;
}
.menu-light a:hover, .menu-light .active a{
  background-color: #ce1126 !important;
}
.menu-light ul{
  background-color: transparent !important;
}
.dash-card-inner{
  border-radius: 100px !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12) !important;
  background-color: white !important;
}
.admin-profile .dash-card-inner{
  box-shadow: none !important;
  padding-bottom: 240px !important;
  border-radius: 0 0 30px 30px !important;
}
.eye-icon{
  margin-left: -35px;
}
.white_line{
  border: 1px solid white;
}
.white_bck{
  background-color: white !important;
}

.admin-profile .dash-card-inner .camera-icon i{
  position: absolute;
  right: 5px;
  bottom: 15px;
  color: white !important;
  background-color: #F5C12A !important;
  font-size: 14px !important;
  cursor: pointer;
  border-radius: 100% !important;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center !important;
}
.noti{
  border: none !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12) !important;
}
.header-navbar .navbar-container .dropdown-menu-media .media-list .media{
  border: none !important;
}
.noti th{
  display: none !important;
}
.user-management a{
  color: #141414 !important;
  font-weight: 500;
}
.user-management .page-item.active .page-link {
  color: #fff !important;
}
.user-management .previous a, .user-management .next a{
  color: #ce1126 !important;
}
.admin-profile .modal-content .confirmation i{
  color: #ce1126 !important;
  font-size: 75px !important;
}
.user-management .page-item.disabled .page-link{
  background-color: #f7f7f7 !important;
  border: none !important;
}
.user-management .table thead th{
  color: #333333 !important;
}
.pink_bck{
  background-color: #F5C12A !important;
  color: white !important;
  border-radius: 10px;
}
.user-subs .pink_bck{
  border-radius: 5px !important;
}
.user-subs td a, .donar-box a{
  color: #23c0e9 !important;
}
.donar-box{
  background-color: #f8f9fa !important;
  border: 3px solid white !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12) !important;
}
.admin-profile .modal-content .block{
  font-size: 75px !important;
}
.user-management .modal-content a button:hover{
  background-color: #120505 !important;
  color: white !important;
}
.disable{
  background-color: #ee394c !important;
}
.hospital-profile .dash-card-inner{
  padding-bottom: 60px !important;
}
#configuration .site-input, .site-input {
  background: white;
  font-weight: 500;
  box-shadow: 1px 1px 9px #cccccc;
  border: 0;
  border-radius: 100px !important;
  padding: 10px 15px;
  font-size: 15px;
  color: #666;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px!important;
}
#configuration .site-input.right-icon {
  padding: 10px 40px 10px 15px!important;
}
i.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
}
.rotated-text{
  transform: rotate(-90deg) !important;
  position: absolute;
  margin: auto 0;
  width: 290px;
  top: 0;
  bottom: 0;
  font-size: 18px;
  left: 140px !important;
  color: black;
  font-weight: 600;
  text-align: center;
}
#configuration .site-input:focus {
  outline:0!important;
  box-shadow: 1px 1px 9px #cccccc;
}
#configuration .site-input.left-icon {
  padding: 10px 15px 10px 40px!important;
}
#configuration .site-input.right-icon {
  padding: 10px 40px 10px 15px!important;
}
#configuration .site-input.both-icon {
  padding: 10px 40px 10px 40px!important;
}
.sort-date{
  border: 1px solid #ebebeb !important;
  padding: 10px;
}
.apply-btn{
  padding: 15px;
}
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}
.namber{
  width: 65px !important;
  border: 1px solid #ebebeb !important;
}
.l-green{
  color: #9ac80f !important;
}
.hosp-verification .nav.nav-tabs .nav-item .nav-link.active {
  color: #ce1126 !important;
  border: none;
  border-bottom: 1px solid #ce1126;
}
.hosp-verification .nav.nav-tabs .nav-item .nav-link {
  text-transform: uppercase;
  color: black !important;
  font-weight: 600;
}
.reject-reason{
  width: 100% !important;
  resize: none !important;
  border: 1px solid #f2f2f2 !important;
  border-radius: 30px !important;
  background-color: #f8f6f6 !important;
}
.reject-reason::placeholder{
  color: black !important;
}
.subs_card{
  border-radius: 20px !important;
  width: 450px;
  margin: auto;
  border: 1px solid #ebebeb !important;
  background-color: white !important;
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,.1);
  position: relative;
  text-align: center !important;
}
.subs_card i{
  font-size: 60px !important;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ce1126 !important;
  border-radius: 100% !important;
  position: absolute;
  top: -50px;
}
.subs_card hr{
  border-style: dashed;
  border-color: #cccccc !important;
}
.subs_card h3 span{
  font-size: 80px !important;
}
.subs_card input{
  background-color: #f7f7f7 !important;
  border: 1px solid #f3f2f2;
}
.subs_card .camera-icon i{
  font-size: 14px !important;
  background-color: #ee394c !important;
  cursor: pointer;
  top: 25px;
  left: 60%;
  transform: translateX(-40%);
  padding: 10px;
}
.subs_card .price{
  border: 1px solid #cccccc;
  border-style: dashed;
  padding: 30px;
}
.feedback-type select{
  border-radius: 30px !important;
  padding: 10px 15px;
}
.feedback-type select:focus{
  outline: none !important;
}
.pad-315{
  padding: 315px 0 !important;
}
.error h2{
  font-size: 260px;
}
.error h3{
  font-size: 43px !important;
}
input:focus, textarea:focus, a button:focus, span:focus, button:focus{
  outline: none !important;
}
.admin-inner{
  background-color: black !important;
  height: 100% !important;
  border-radius: 30px 0 0 30px !important;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-header {
  float: left;
  width: 255px;
  margin-top: -29px;
  padding: 0;
}
.menu-light a:hover, .menu-light .active a {
  background-color: #F5C12A !important;
}
.bck-red{
  background-color: #e70707 !important;
}
.user-management .page-item.active .page-link {
  background: #eeb60d; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeb60d 0%, #f7d576 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eeb60d 0%,#f7d576 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eeb60d 0%,#f7d576 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb60d', endColorstr='#f7d576',GradientType=0 ); /* IE6-9 */}
.page-item.active .page-link {
  border-color: #F5C12A !important;
}
.user-management .previous a, .user-management .next a {
  color: #F5C12A !important;
}
.event input{
  height: 50px !important;
  border: 1px solid #ebebeb !important;
  background-color: #f9f9fa !important;
}
.event select {
  background-color: #f9f9fa !important;
  color: #a1a0a0 !important;
  width: 170px;
  padding: 0 15px !important;
  font-size: 16px !important;
  margin: 0px 0 20px 0;
  border-radius: 25px !important;
  height: 50px !important;
  outline: none;
  border: 1px solid #ebebeb !important;
}
.w-105{
  width: 110px !important;
}
/* editor */
button.log-out-client {
  height: 45px;
  border: 0;
  padding-right: 20px;
  border-radius: 4px;
  background-color: #3F51B5;
  color: rgba(255, 255, 255, 0.8);
  line-height: 43px;
  cursor: pointer;
  transition: background-color 0.4s;
}
button.log-out-client i {
  width: 45px;
  line-height: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.7);
}
button.log-out-client:hover, button.log-out-client.cancel:hover {
  background-color: #333;
}
#editor {
/* width: 800px; */
  margin: 50px auto 50px auto;
  padding: 7px 20px 20px 20px;
  border: 1px solid #464646;
  border-radius: 10px;
  background: #fafafa;
}
#toolbar {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #464646;
  padding: 8px 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#page {
  padding-top: 30px;
  min-height: 600px;
  outline: none;
}
.icon {
  float: left;
  height: 30px;
  width: 40px;
  margin-right: 10px;
  background: #fafafa;
  font-size: 0.8rem;
  color: #464646;
  text-align: center;
  cursor: pointer;
}
.icon:hover {
  border-color: #3e7086;
  color: #3e7086;
}
div#editor {
  width: 100%;
  height: 400px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
}
#page * {
  font-family: 'Roboto', sans-serif;
}
#page {
  min-height: initial;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 63px;
  margin-top: -53px;
  text-align: left;
  position: relative;
  z-index: 1;
}
section#toolbar {
  height: 53px;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #cfcfcf;
  background-color: #fff;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.icon {
  height: 33px;
  background: transparent;
  opacity: 0.7;
  color: #555;
  width: 33px;
  line-height: 33px;
}
.icon:hover {
  opacity: 1;
  color: #3F51B5;
}
ul, ol {
  padding-left: 28px;
  color: #777;
}
.cont {
/* width: 600px; */
  max-width: 96%;
  margin: auto;
}
.featured-cont{
  background-color: white !important;
  border-radius: 30px;
  border: 1px solid #ebebeb;
}
.bck_grey{
  background-color: #9a9999 !important;
  border: 1px solid #9a9999 !important;
}  
  #html_btn {
   display:none;
}
.p-280{
  padding-top: 280px;
  padding-bottom: 280px;
}
.error-404{
  font-size: 260px !important;
  color: #F5C12A !important;
}
.bg-head{
  font-size: 44px !important;
  color: #666666 !important;
}
.red {
  color: #EBB517 !important;
}
.active-status .dropdown-menu{
  border-radius: 30px;
  background-color: #f9f9fa !important;
  border: 1px solid #ebebeb !important;
}
.active-status .dropdown-menu a, .active-status .dropdown-menu h6{
  color: #a1a0a0 !important;
  font-family: 'Poppins', sans-serif !important;
}
select{
  appearance: none !important;
}
select{
  background-image: url();
}
i.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  color: #C8C8C8;
  }
  img.left-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  }
/* admin login starts here */
/* ====================================== Media Queries ================================================ */ 
@media screen and (max-width:1200px){
}
@media screen and (max-width:991px){
  .admin-profile .dash-card-inner{
    padding-bottom: 160px !important;
  }
  .ad-log .modal{
    width: 50% !important;
    margin: auto !important;
  }  
}
@media screen and (max-width:767px){
  .p-70{
    padding: 40px 45px;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 25px;
  }
  .admin-login{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .admin-profile .dash-card-inner{
    padding-bottom: 80px !important;
  }
  .subs_card{
    width: 300px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .subs_card h3 span{
    font-size: 45px !important;
  }
  .pad-315{
    padding: 100px 0 !important;
  }
  .error h2{
    font-size: 90px;
  }
  .error h3{
    font-size: 43px !important;
  }
  .ad-log .modal{
    width: 75% !important;
    margin: auto !important;
  }  
  .admin-inner{
    display: none;
  }
}
@media screen and (max-width:576px){
  .admin-login{
    padding-top: 50px;
    padding-bottom: 50px;
  }  
  .admin-profile .dash-card-inner{
    padding-bottom: 40px !important;
  }
  .subs_card{
    width: 100%;
  }
  .pad-315{
    padding: 75px 0 !important;
  }
  .error h2{
    font-size: 70px;
  }
  .error h3{
    font-size: 30px !important;
  }  
}

